footer { /* entire footer */
  min-width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #5C185A;}
footer h1 { /* footer title */
  color: #FFFFFF;}
textarea { /* textarea cannot resize */
  resize: none;}

.form-hubung {
  width: 100%;}

#form { /* entire form */
  margin-top: 30px;}
#form-input { /* each input form */
  margin-bottom: 10px;}
#form-input-hubung {
  margin-top: 5px;
  padding: 5px;}
#form-input textarea {
  height: 200px;}
#form-submit { /* each submit form */
  border: none;
  color: #FFFFFF;
  background-color: #01A89E;
  text-align: center;
  font-weight: bold;
  height: 30px;}
#form-submit:hover {
  box-shadow: 0px 0px 5px #888888;}
