@import "normalize.css";
@import "header.css";
@import "footer.css";

a {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
li {
  height: auto;}

#content { /* entire content */
  margin-top: 60px;}
#content-header { /* content header */
  padding: 20px;
  text-align: center;
  background-color: #CCFFFF;}

#content-footer { /* content footer */
  text-align: center;
  padding: 20px 10px 20px 10px;}
.soalan {
  font-weight: bold;
  cursor: pointer;
  list-style-position: inside;}
.soalan:hover {
  color: #660066;}
.jawapan {
  display: none;
  color: #0066ff;}
