@import "normalize.css";

/* header */
header {
  text-align: center;
  margin: 20px 10px 10px 20px; }
header img {
  height: 50px;
  width: 50px;
  display: inline-block; }
header h2 {
  display: inline-block; }

/* footer */
footer {
  bottom: 0px;
  width: 100%;
  z-index: 100;
  padding: 3px;
  text-align: center;
  background-color: #999999;
  position: fixed; }

/* navigation menu */
.category p {
  padding: 10px;
  display: none; }
.category-header {
  padding: 5px; }
.category-header h4 {
  font-weight: bold;
  display: inline-block; }
.dropdown-arrow {
  height: 30px;
  width: 30px;
  display: inline-block; }
